.pantry-items, .freezer-items {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: 1px solid;
}

ul {
  list-style-type: square;
}

.ul-circle {
  list-style-type: circle;
}

section {
  background-color: yellowgreen;
}

h2 {
  border: solid 3px green;
  text-align: center;
  background-color: red;
}

h3 {
  border: dashed 4px orange;
}

h4 {
  border: thick double 7px blue;
}


img {
  width: 300px;
  height: 200px;
}


